{% extends "base_landing.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}"/>
    {{ form.media }}
{% endblock %}

{% block intro %}

    <div class="mask h-100 d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-5">

                    <!--Form with header-->
                    <div class="card wow fadeIn" data-wow-delay="0.3s">
                        <div class="card-body">

                            <!--Header-->
                            <div class="form-header purple-gradient">
                                <h3>Sign in:</h3>
                            </div>

                            <!--Body-->
                            <form method="post">{% csrf_token %}
                                <div class="md-form">
                                    <i class="fa fa-envelope prefix white-text"></i>
                                    {{ form.username }}
                                    {{ form.username.label_tag }}
                                    {{ form.username.errors }}
                                </div>

                                <div class="md-form">
                                    <i class="fa fa-lock prefix white-text"></i>
                                    {{ form.password }}
                                    {{ form.password.label_tag }}
                                    {{ form.password.errors }}
                                    {{ form.non_field_errors }}
                                </div>

                                <div class="text-center">
                                    <button class="btn purple-gradient btn-lg">{% trans 'Log in' %}</button>
                                    <hr>
                                    <div class="inline-ul text-center d-flex justify-content-center">
                                        <a class="p-2 m-2 fa-lg tw-ic"><i class="fab fa-twitter white-text"></i></a>
                                        <a class="p-2 m-2 fa-lg li-ic"><i class="fab fa-linkedin-in white-text"></i></a>
                                        <a class="p-2 m-2 fa-lg ins-ic"><i class="fab fa-instagram white-text"> </i></a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <!--/Form with header-->

                </div>
            </div>
        </div>
    </div>

{% endblock %}
